# Python virtual environment
/ntp_env/

# Python cache files
__pycache__/
*.pyc

# Data files (we generate these, we don't store them in Git)
*.csv

# Trained models (these are outputs, or "artifacts")
*.h5
*.pkl

# IDE and OS specific files
.vscode/
.idea/
.DS_Store
